$bg: rgb(34, 54, 69);
$bg-font-col: rgb(169, 204, 216);

$font-col: rgb(21, 41, 60);

$bg-nav: rgb(50, 79, 102);
$nav-font-col: rgb(90, 175, 196);
$nav-font-col-act: rgb(183, 211, 222);
$nav-font-hover: rgb(16, 63, 75);
$nav-bg-hover: rgb(134, 184, 196);

$input-bg: rgb(237, 237, 237);

$body-bg: rgb(178, 212, 222);

$error: rgb(10, 17, 22);
$error-bad: rgb(177, 8, 8);

$link: rgb(207, 4, 4);

$user-name: rgb(23, 117, 108);
$user-date: rgb(2, 92, 83);
$prof-title: rgb(108, 36, 44);
$prof-para: rgb(94, 93, 99);
$prof-text: rgb(25, 93, 129);
$bg-prof: rgb(118, 180, 219);
$bg-img: rgb(43, 43, 42);