$bg: rgb(34, 54, 69);
$bg-nav: rgb(50, 79, 102);
$bg-font-col: rgb(169, 204, 216);

$font-col: rgb(21, 41, 60);
$nav-font-col: rgb(90, 175, 196);
$nav-font-col-act: rgb(183, 211, 222);

$nav-font-hover: rgb(16, 63, 75);
$nav-bg-hover: rgb(134, 184, 196);

$input-bg: rgb(237, 237, 237);

$body-bg: rgb(178, 212, 222);

$error: rgb(10, 17, 22);
$error-bad: rgb(177, 8, 8);

$link: rgb(207, 4, 4);