$bg: rgb(161, 87, 226);
$bg-font-col: rgb(169, 204, 216);

$font-col: rgb(21, 41, 60);

$bg-nav: rgb(137, 190, 233);
$nav-font-col: rgb(90, 175, 196);
$nav-font-col-act: rgb(183, 211, 222);
$nav-font-hover: rgb(16, 63, 75);
$nav-bg-hover: rgb(134, 184, 196);

$input-bg: rgb(237, 237, 237);

$body-bg: rgb(236, 250, 253);

$error: rgb(10, 17, 22);
$error-bad: rgb(177, 8, 8);

$link: rgb(207, 4, 4);

$user-name: rgb(9, 68, 136);
$user-date: rgb(2, 92, 83);
$prof-title: rgb(215, 230, 247);
$prof-para: rgb(57, 58, 61);
$prof-text: rgb(25, 93, 129);
$bg-prof: rgb(241, 247, 250);
$bg-img: rgb(26, 25, 25);

$bg-chat: rgb(20, 20, 20);
$bg-title: rgb(44, 44, 44);

 