@import './base/settings';

.footer {
    height: $footer-height;
    background-color: $bg;

    @include flexbox(left, row,0);

    p {
        font-size: pixels-rem(12);        
        color: $bg-font-col;
        margin-left: pixels-rem(5);
    }
}