@import '../../base/settings';

.secEditProfile {
    @include container(95%, 10);
    color: $font-col;

    .divRoot {
        margin-top: pixels-rem(15);
        font-weight: bold;

        a {
            text-decoration: none;
            color: $font-col;
        }

    }

    h2 {
        font-size: pixels-rem(25);
        margin-top: pixels-rem(10);
        padding: pixels-rem(10);
        border-bottom: 1px dotted $bg;
    }

    div {
        @include container(100%, 0);

        img {
            @include image(contain);
        }
    }

    .errorProfile {
        padding: pixels-rem(10);
        text-align: center;
        color: $error-bad;
    }

    form {

        @include container(90%, 0);
        margin-top: pixels-rem(20);

        input:not([type="submit"]),
        textarea {
            width: 100%;
            margin: pixels-rem(10) 0;
            padding: pixels-rem(5);
            border-radius: pixels-rem(5);
            font-size: pixels-rem(12);
            text-indent: pixels-rem(5);
            @include border($bg, 5);

        }

        .selected {
            background-color: $input-bg;
        }

        .divBtnsForm {
            margin-top: pixels-rem(15);
            padding: pixels-rem(5);
            @include border($error-bad, 10);

            div {
                @include flexbox(center, row, 5);
                margin-top: pixels-rem(15);

                button {
                    @include boton-multi();
                    width: pixels-rem(120);
                    padding: pixels-rem(5);

                    i {
                        color: $error-bad;
                    }
                }

                button:hover {
                    @include boton-multi-hover();
                }
            }
        }

        .divSubmit {
            margin: pixels-rem(30) 0;
            @include flexbox(center, row, 5);

            input[type="submit"],
            a {
                @include boton();
                padding: pixels-rem(5);
                margin-top: pixels-rem(10);
                text-decoration: none;
                font-size: pixels-rem(15);
                width: 100%;
                text-align: center;
            }

            input[type="submit"]:hover,
            a:hover {
                @include boton-hover();
            }
        }

    }

    @import "./components/Profile";


}