// @import '../../base/settings';

.secHomeUser {

    color: $font-col;
    @include container(95%, 0);

    .divRoot {
        margin-top: pixels-rem(15);
        font-weight: bold;
    }

    h1 {
        margin-top: pixels-rem(15);
        font-size: pixels-rem(30);
        color: $user-name;
    }

    .secUserProfiles {

        h2 {
            font-size: pixels-rem(25);
            margin-top: pixels-rem(10);
            padding: pixels-rem(10);
            border-bottom: 1px dotted $bg;
        }

        .secUserProfile {
            border-bottom: 2px dotted $bg;
            margin-bottom: pixels-rem(15);
            padding-bottom: pixels-rem(5);

            h3 {
                font-size: pixels-rem(20);
                font-style: italic;
                margin-top: pixels-rem(15);
            }

            @import './components/Profile';

            a {
                @include boton();
                @include container(70%, 0);
                display: block;
                text-align: center;
                padding: pixels-rem(10);
                text-decoration: none;
            }

            a:hover {
                @include boton-hover();
            }

        }
    }

    @import './components/Invites';

}