@import '../../base/settings';

.secRelations {

    @include container(95%, 0);

    h2 {
        font-size: pixels-rem(25);
        margin-top: pixels-rem(10);
        padding: pixels-rem(10);
        border-bottom: 1px dotted $bg;
    }

    .divRoot {
        margin-top: pixels-rem(15);
        font-weight: bold;

        a {
            text-decoration: none;
            color: $font-col;
        }

    }

    div {
        @include container(100%, 0);

        img {
            @include image(contain);
        }        
    }

    @import './components/BigPeople';

}