// @import '../../base/settings';

.secAdmin {

    @include container(95%, 0);


    h1 {
        margin: pixels-rem(15) 0;
        font-weight: bold;
        text-shadow: 0 0 5px $bg-font-col;
    }

    div {
        position: static;
        z-index: -1;
        opacity: 0.4;

        img {
            @include image(contain);
            border-radius: pixels-rem(10);
        }
    }

}