@import '../../../base/settings';

.secMessage {
    width: pixels-rem(400);
    margin: 0 auto;
    position: static;
    background-color: $msg-bg;
    @include border($bg, 5);
    box-shadow: 2px 2px 10px black;
    padding: pixels-rem(5);
    z-index: 100;

    h4 {
        font-size: pixels-rem(17);
        text-align: center;
        margin: pixels-rem(10) 0;
        color: $nav-font-col;
    }

    p {
        color: $nav-font-col-act;

        span {
            font-weight: bold;
            font-style: italic;
        }
    }

    form {
        padding: pixels-rem(5) 0;
        @include flexbox(right, column, 0);

        textarea {
            width: 100%;
            height: pixels-rem(60);
            text-indent: pixels-rem(5);
            padding: pixels-rem(5);
            @include border($bg, 5);
        }

        input {
            margin: pixels-rem(8) 0;
            @include boton-multi();
            padding: pixels-rem(5);
            width: pixels-rem(120);
        }

        input:hover {
            @include boton-hover();
        }
    }

    .pMsgSent {
        text-align: center;
        color: $msg-sent;
    }
}